<nav class="sub_nav_bar">
    <div class="category_button">
        <button>カテゴリ</button>
    </div>
    <div class="long_button">
        <button>お届け先を変更</button>
    </div>
    <div class="vertical_line"></div>

    <div class="long_button">
        <button>お気に入り店舗を変更</button>
    </div>
    <%= render "shared/auth" %>
</nav>
