.auth {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.auth_button {
  display: block;
  width: 120px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.login {
  background-color: #009e96;
  color: white;
}

.sign_up {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
}
