#product-area {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
  white-space: nowrap;
}

#product-list {
  display: flex;
  gap: 12px;
  padding: 0;
  list-style: none;
}

#product-list li {
  scroll-snap-align: start;
}
.product_link {
  text-decoration: none;
}
.product_box {
  display: flex;
  flex-direction: column;
  width: 173.333px;
  min-width: 173.333px;
  cursor: pointer;
}
.product_box:hover .product_title {
  text-decoration: underline;
}
.product_box:hover .product_img_box::after {
  background: rgba(226, 226, 226, 0.4);
}
.product_img_box {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: fit-content;
  position: relative;
  display: inline-block;
}
.product_img {
  aspect-ratio: 1 / 1;
  width: 100%;
}
.product_img_box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
}

.product_title {
  padding-top: 0px !important;
  font-size: 12px !important;
  color: #333;
  font-family: Hiragino Sans, Hiragino Kaku Gothic ProN, Helvetica Neue,
    Helvetica, Arial, Meiryo, Yu Gothic, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 48px;
  padding: 0;
  margin: 8px 0;
}
.time_sale {
  color: #d06a67;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.product_price {
  color: #d06a67;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, Hiragino Sans,
    Hiragino Kaku Gothic ProN, Meiryo, Yu Gothic, sans-serif;
  margin-bottom: 2px;
  margin-top: 0;
  white-space: unset !important;
}

.currency {
  font-size: 10px;
}
